# Ignore everything (as a base)
*

# Allow what we need
!/.gitignore
!/README

!arch
!arch/x86
!arch/x86/include
!arch/x86/include/generated
!arch/x86/include/generated/uapi
!arch/x86/include/generated/uapi/asm
!arch/x86/include/generated/uapi/asm/unistd_64.h
!arch/x86/entry
!arch/x86/entry/syscalls
!arch/x86/entry/syscalls/syscall_64.tbl
!arch/um
!arch/um/kernel
!arch/um/kernel/dm510_msgbox.c
!arch/um/kernel/Makefile
!arch/um/include
!arch/um/include
!arch/um/include/asm
!arch/um/include/asm/dm510_msgbox.h

!test
!test/*
